@charset "utf-8";
/* CSS Document 5/20 8:48*/

/* mobile first */

/* HTML TAGS */
html, body{
	height: 100%;
	margin: 0;
	padding: 0;
	overflow:hidden;

}

.inner {
    width: 10000%;
	height: 100%;
	margin-left: 0%; /*change in increments of -100% to change horizontal sections (done by JS)*/
}

.section{
	float: left;
    width: 1%; /* inner width * section width = 100%*/
	height: 10000%;
}

.subsec{
	float: none;
	height: 1%;
	margin-top: 0vh; /*change in increments of -100v to change horizontal sections (done by JS)*/
}

.subsec:nth-child(1){
	background: orange;
}

.arrow{
   width: 50px;
   height: 50px;
   background: red;
   position: fixed;
   top: calc(50% - 25px);
}

.arrow:hover{
	background:blue;
}

#left{
	left: 0px;
}

#right{
	right: 0px;
}

/*

http://tympanus.net/codrops/2014/05/28/arrow-navigation-styles/

*/